* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Container Full: 1520px */
/* Container : 1170px */
.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.container-full {
    width: 95% !important;
    max-width: 1520px !important;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}
html {
    font-size: 62%;
}
.align-items-center {
    align-items: center;
}
[class*="col-"]{
    padding-right: 15px;
    padding-left: 15px;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}

/* 12 coloumn grid system */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
   width: 66.64%; 
}
.col-9{
   width: 74.94%; 
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}
/*header*/
#header {
    margin-top: 50px;
    display: flex;
    width: 100%;
}
#header::after {
    background: linear-gradient(to right, #ff4800 34%,#ff4800 36%,#ffba00 36%,#ffba00 71%,#ff4800 71%,#ff4800 71%,#ff4800 71%,#ffba00 71%,#ffba00 72%,#2f2e42 72%,#2f2e42 72%);
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
}
.navigation {
    display: none;
}
.navigation li::marker {
    color: #cccccc;
    font-size: 1.8rem;
}
.link {
    color: black;
    transition: 1s;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}
.link:hover {
    color: #ff4800;
}
.chat {
    text-transform: uppercase;
    color: black;
    font-size: 1.4rem;
    margin-right: 24px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}
.chating {
    text-decoration: none;
    margin-top: 16px;
    border-bottom: 2px solid black;
    padding-bottom: 13px;
    width: 122px;
    display: none;
}
.menu-icon {
    height: 30px;
    width: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    justify-content: space-between;   
}
.menu-icon-bar {
    height: 3px;
    background-color: black;
}
/* our works */
.our-works {
    padding: 150px 0;
}
.works {
    text-align: center;
}
.works p {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #999999;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.works h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 100px;
}
.proj-name {
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 30px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: #999999;
    text-transform: capitalize;
    transition: 0.5s;
}
.proj-name:hover {
    color: #ff9933;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #faf2e9;
    border: none;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.box-1 {
    background-color: #cccccc;
    height: 340px;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 30px;
}
.box-2 {
    background-color: #cccccc;
    height: 490px;
    width: 100%;
}
.justify-content {
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 120px;
} 
.margn-btm {
    margin-bottom: 190px;
}
.more {
    text-align: center;
}
.more a {
    font-size: 1.8rem;
    margin-top: 70px;
    display: inline-block;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    border-radius: 100%;
    padding: 70px 54px;
    border: 1px solid #d0d0d0;
    text-decoration: none;
    text-transform: uppercase;
    color: black;   
}
/* footer */
.footer {
    background-color: #f2f5fa;
    padding: 100px 0;
}
.footer h2 {
    font-size: 3.9rem;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}
.footer h3 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}
h3 a {
    color: black;
    transition: 1s;
    text-decoration: underline;
}
h3 a:hover {
    color: #ff4800;
}
.contact-ser {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.services-contact {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.service-link {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 3;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.add-para {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 25px;
    color: #666666;
}
.gmail {
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    margin-bottom: 70px;
    color: black;
    text-decoration: none;
}
.footer-navigation {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    line-height: 3;
    transition: 1s;
}
.nav:hover {
    color: #ff4800;
}
.all-rights {
    margin-top: 24px;
}
.all-rights p {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}
.all-rights a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.icons {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}
.social-icon {
    margin-right: 25px;
    font-size: 2rem;
}
.icons a {
    color: black;
}
@media(min-width: 992px) {
    .container {
        width: 95% !important;
        max-width: 1170px !important;
    }
    .navigation {
        display: flex;
    }
    .chating {
        display: flex;
    }
    .link {
        font-size: 1.8rem;
    }
    .works h1 {
        font-size: 6.4rem;
    }
    .proj-name {
        font-size: 1.6rem;
        margin-right: 40px;
    }
    .box-1 {
        margin-top: 270px;
    }
    .box-2 {
        margin-top: 200px;
    }
    .more a {
        margin-top: 200px;
    }
    .footer {
        padding-top: 150px;
        padding-bottom: 130px;
    }
    .footer h2 {
        font-size: 4.2rem;
        margin-bottom: 100px;
    }
    .all-rights p {
        text-align: start;
    }
    .icons {
        justify-content: left;
    }
    .footer h3 {
        font-size: 4.2rem;
    }
    .contact-ser {
        margin-top: 11px;
        margin-bottom: 90px;
        text-align: start;
    }
    .services-contact {
        margin-bottom: 50px;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.32%;
    }
    .col-lg-5{
        width: 41.65%;
    }
    .col-lg-6{
        width: 49.98%;
    }
    .col-lg-7{
        width: 58.31%;
    }
    .col-lg-8{
       width: 66.64%; 
    }
    .col-lg-9{
       width: 74.94%; 
    }
    .col-lg-10{
        width: 83.3%;
    }
    .col-lg-11{
        width: 91.63%;
    }
    .col-lg-12{
        width: 100%;
    }
}
@media (min-width:768px) {
    .container-full {
        width: 100% ;
        max-width: 992px;
    }
    .box-1 {
        margin-top: 200px;
    }
    .box-2 {
        margin-top: 130px;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.32%;
    }
    .col-md-5{
        width: 41.65%;
    }
    .col-md-6{
        width: 49.98%;
    }
    .col-md-7{
        width: 58.31%;
    }
    .col-md-8{
       width: 66.64%; 
    }
    .col-md-9{
       width: 74.94%; 
    }
    .col-md-10{
        width: 83.3%;
    }
    .col-md-11{
        width: 91.63%;
    }
    .col-md-12{
        width: 100%;
    }
}